/* You can add global styles to this file, and also import other style files */

html {
  font-size: 14px;
}

html,
body {
  height: 100%;
  background: url('apps/blog/src/assets/images/cw.jpg') no-repeat fixed 0 56px;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.linkDisabled {
  pointer-events: none;
}

.m-left-auto {
  margin-left: auto;
}
